body {
	margin: 0;
	padding: 0;
	padding-bottom: 100px;
	background: url(images/stars.png) repeat, url(images/background.png) no-repeat;
	background-size: contain, 100% 100%;
}
h1 {
	font-family: boucherie-sans-inline, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 55pt;
	line-height: 40pt;
	color: white;
}
h2 {
	font-family: boucherie-sans-inline, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30pt;
	line-height: 40pt;
	color: white
}
h3 {
	font-family: boucherie-sans-inline, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16pt;
	color: white;
}
p {
	font-family: neusa-next-std-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0.25pt;
	line-height: 24pt;
	color: white;
	padding-bottom: 50px;
}
sup {
	font-size: 30pt;
	line-height: 60pt;
}

.section {
	text-align: center;
	padding-top: 200px;
}

.container {
	padding-left: 8%;
	padding-right: 8%;
}

.container:after {
	content: "";
	display: table;
	clear: both;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
}
.grid-item {
	padding: 0 20px 0 20px;
	text-align: center;
}

@media screen and (max-width: 100px) {
	.thirds-text {
		background-color: #192640;
		padding: 20px;
		height: auto;
		text-align: center;
	}
}

@media only screen and (min-width: 100px, max-width: 650px) {
	p {
		font-size: 10;
	}

	.container {
		padding-left: 10%;
		padding-right: 10%;
	}
	.thirds-text {
		background-color: #192640;
		padding: 20px;
		height: auto;
		text-align: center;
	}
}

@media only screen and (min-width: 650px) {
	p {
		font-size: 10;
	}

	.section {
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.container {
		padding-left: 10%;
		padding-right: 10%;
	}

	.thirds-column1 {
		float: left;
		width: 30%;
	}

	.thirds-column2 {
		padding-top: 26px;
		float: left;
		width: 30%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.thirds-column3 {
		padding-top: 26px;
		float: left;
		width: 30%;
	}

	.thirds-text {
		background-color: #192640;
		padding: 20px;
		height: auto;
		text-align: center;
	}


	.half-column1 {
		width: 40%;
		float: left;
		margin-right: 50px;
		text-align: left;
	}

	.half-column2 {
		width: 48%;
		float: right;
		text-align: left;
	}

	.section img:first-of-type {
		padding-top: 50px;
	}

	.orbit {
		column-count: 3;
		text-align: left;
	}

	.sources {
		column-count: 2;
		text-align: left;
		padding-left: 10%;	
	}
}

@media only screen and (min-width: 1000px) {
	.sources {
		column-count: 3;
		text-align: left;
		padding: 0;
	}
}