body {
	margin: 0;
	box-sizing: box-border;
	background-image: url("background.jpg");
	background-image-max-height: 100%;
}
.column {
	float: right;
	width: 50%;
	overflow: auto;
}
.row:after {
	content:"";
	display: table;
	clear: both;
}
img {
	position: absolute;
	height: 100%;
	object-fit: contain;
}
h1 {
	font-family: amador, sans-serif;
	font-weight: 380;
	color: #F58F09;
	font-size: 385px;
	line-height: 0px;
	padding-left: 60px;
}
h2 {
	font-family: amador, sans-serif;
	font-weight: 400;
	color: #e56521;
	font-size: 110px;
	line-height: 80px;
	padding-left: 60px;
	padding-bottom: 600px;
}
p {
	color: #e3959b;
	font-size: 24px;
	font-weight: 400;
	padding-left: 60px;
}
#left {
	position: fixed;
	height: 100%;
	padding-top: 0px;
}
#about {
	font-family: matrix-ii, serif;
	font-size: 30px;
	font-weight: 400;
	color: #e3959b;
	padding-right: 60px;
	padding-bottom: 600px;
}
.verse {
	color: #e56521;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
}