/* 1. Set the margin-bottom of the header to 3rem */ 
header {
	margin-bottom: 3rem;
}

/* 2. Set the line-height of all paragraphs to 1.6 */ 
p {
	line-height: 1.6;
}

/* 3. Make the "See All..." links 0.8em, and uppercase */
.see-all {
	font-size: 0,8em;
	text-transform: uppercase;
}

/* 4. Make the show titles 2.5rem */
#game-of-thrones h1, #unbreakable-kimmy-schmidt h1 {
	font-size: 2.5rem;
}

/* 5. Make the section-titles 1rem and uppercase */
#game-of-thrones h2, #unbreakable-kimmy-schmidt h2 {
	font-size: 1rem;
	text-transform: uppercase;
}

/* 6. Make all title fonts light weight */
h1, h2 {
	font-weight: lighter;
}
/* 7. Make the cast images width:100% */
#game-of-thrones .cast img, #unbreakable-kimmy-schmidt img {
	width: 100%;
}

/* 8. Make each castmember element width-25% */
#game-of-thrones .cast div, #unbreakable-kimmy-schmidt div {
	width: 25%;
}

/* 9. Add a 1px border above each show - without unintentionally adding borders elsewhere */
#game-of-thrones h1, #unbreakable-kimmy-schmidt h1 {
	border-top: solid;
	border-width: 1px
}

/* 10. Make the nagivation tab with the .selected class be bold and black */
header .selected a[href="#"] {
	font-weight:bold;
	color: black;
}

/* 11. Make the castmember labels 0.8rem */
#game-of-thrones div, #unbreakable-kimmy-schmidt div {
	font-size: 0.8rem;
}

/* 12. Make the actor/actress names bold */
#game-of-thrones .cast li a[href="#"] div:first-of-type, #unbreakable-kimmy-schmidt .cast li a[href="#"] div:first-of-type {
	font-weight: bold;
}

/* 13. Make the character names italic */
#game-of-thrones .cast li a[href="#"] div:last-of-type, #unbreakable-kimmy-schmidt .cast li a[href="#"] div:last-of-type {
	font-style: italic;
}

/* 14. Add an asterisk (*) to the last year in the Game of Thrones seasons list */
#game-of-thrones .seasons li:last-of-type::after {
	content: "*";
}
/* 15. Add the text "* In production" on the next line after the Game of Thrones season list. Make it 0.7rem, and color it to be #999 */
#game-of-thrones .synopsis::before {
	content: "* In production";
	font-size: 0.7rem;
	color: #999;
}

